@import '../common'

.myProfile
    background-image: url("../res/myProfile/BG.png")
    background-repeat: repeat
    background-size: 150%
    padding-top: 50px
    padding-bottom: 30px

    // トップ表示
    .top
        width: 100%
        height: 100px
        background-color: #ffffff // TODO:背景一枚絵
        padding-top: 70px
        font-size: 35px

    // キャラ立ち絵
    .character-sprite
        width: 80%
        margin: 0 10% 0 10%
        background-color: #ffffff
        border-radius: 15px
        border: 3px solid #5a7a9a
        img
            width: 90%
            margin: 0 5% 0 5%
            object-fit: contain

    // 紹介
    .profile
        background-color: #ffffff
        width: 90%
        margin: 20px 5% 0 5%
        ._name-and-types
            font-size: 35px
            border-bottom: 5px solid #6A7F9B
        ._message
            border-bottom: 5px solid #6A7F9B
        ._details
            text-align: left
            ._row
                display: flex
                ._left
                    width: 30%
                ._right
                    width: 70%