@import '../common'
@import 'page-links'

.main-page
    background-color: #cadaee
    color: #323c48
    padding-bottom: 20px

    button
        font-family: "Zen Maru Gothic", sans-serif
        font-weight: 600px
        font-style: normal
        font-size: 22px

    // トップ表示
    .top
        width: 100%
        height: 200px
        background-color: #ffffff // TODO:背景一枚絵
        margin-top: 50px // ヘッダー分の調整
        padding-top: 150px
        font-size: 35px

    // メッセージ・シェア・リンク集
    .welcome
        width: 100%
        h2
            width: 92%
            border-bottom: 2px solid #151c4b
            margin-left: 4%
        ._X-share-with-tag
            width: 120px
            height: 60px
        ._sns_links
            width: 80%
            margin: 20px 0 20px 10%
            display: flex
            justify-content: space-between
            align-items: center
            a
                width: 20%
                aspect-ratio: 1 / 1
                padding: 0
                display: inline-flex
                background-color: #5a7a9a
                border: 2px solid #000000
                img
                    margin: 5% 5%
                    width: 90%
                    height: 90%
                    object-fit: contain
                span
                    width: 100%
                    text-align: center
                    margin-top: 50%
                    transform: translate(0, -50%)
                    font-size: clamp(12px, 5vw, 38px)
                    font-weight: 500
                    color: #eff0f0
    ._schedule
        width: 90%
        margin: 20px 5% 0 5%
        background-color: #eff0f0
        border: 2px solid #000000
        border-radius: 10px
        ._top-frame
            width: 80%
            margin: 10px 10% 0 10%
            border-bottom: 2px solid #151c4b
            ._title
                font-size: clamp(24px, 5vw, 35px)
            ._term
                font-size: clamp(13px, 3vw, 22px)
        ._contents
            width: 90%
            margin: 10px 5% 0 5%
            display: flex
            flex-wrap: wrap
            gap: 10px
            justify-content: center
            ._day-of-the-week
                display: flex
                height: 48px
                border: 2px solid #151c4b
                border-radius: 25px
                ._title
                    width: 50px
                    height: 50px
                    margin: -1px 0 0 -2px
                    background-color: #151c4b
                    color: #eff0f0
                    font-weight: 600
                    font-size: 29px
                    border-radius: 50%
                ._detail
                    margin: 0 10px 0 7px
                    text-align: left
                    align-content: center
                    img
                        width: 12px
                        vertical-align: -2px
        ._notes
            font-size: clamp(12px, 3vw, 16px)
            margin-right: 15px
            text-align: right