.main-page
    // 各ページ遷移ボタン
    .page-links
        width 94%
        background-color: #cbf7ff
        margin: 0 3% 0 3%
        border-radius: 20px
        border: 5px solid #76778c
        ._common
            // background-color: #81a9b0
            padding: 30px 50px 30px 50px
            button
                width: 30%
                aspect-ratio: 1 / 1
                border-radius: 15px
            ._about-me
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                margin-bottom: 30px
                button
                    width 100%
                    height: 150px
                    border-radius: 0
                    background-image: url("../res/yuuri002.png")
                    background-position: 50% 11%;
                    background-size: 270%
            ._etc
                display: flex
                justify-content: space-between
                align-items: center
        
        ._game
            // background-color: #81a9b0
            margin-top: 30px
            padding: 30px 50px 30px 50px