@import '../common'

.screenShot
    background-color: #eff0f0
    padding-top: 50px
    padding-bottom: 30px

    ._tab-group
        display: flex
        border-bottom: 2px solid #151c4b
        justify-content: space-between
        align-items: center
        font-size: 5vw
        margin: 50px 0 0 0
        padding: 0 15% 0 15%
        ._tab-item
            width: 40%
            border: 2px solid #151c4b
            border-bottom: none
            border-top-left-radius: 15px 
            border-top-right-radius: 15px 
            background-color: #eff0f0
            color: #151c4b
        ._select
            background-color: #5a7a9a
            color: #eff0f0