.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #151c4b;
  display: none;
  z-index: 1001;
}
.menu ._moon {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 32px;
  height: 32px;
  background-color: #eff0f0;
  border-radius: 50%;
}
.menu ._1,
.menu ._2,
.menu ._3,
.menu ._4,
.menu ._5,
.menu ._6,
.menu ._7 {
  position: absolute;
  color: #eff0f0;
  text-wrap-mode: nowrap;
  line-height: 50px;
}
.menu ._1 span,
.menu ._2 span,
.menu ._3 span,
.menu ._4 span,
.menu ._5 span,
.menu ._6 span,
.menu ._7 span {
  display: inline-block;
  text-align: left;
  font-size: clamp(25px, 7vw, 45px);
  font-family: "Moon Dance", cursive;
  line-height: 0.9em;
  border-bottom: 1px solid #eff0f0;
}
.menu ._1 {
  top: 15%;
  left: 35%;
}
.menu ._2 {
  top: 28%;
  left: 40%;
}
.menu ._3 {
  top: 35%;
  left: 37%;
}
.menu ._4 {
  top: 45%;
  left: 35%;
}
.menu ._5 {
  top: 53%;
  left: 25%;
}
.menu ._6 {
  top: 71%;
  left: 35%;
}
.menu ._7 {
  top: 63%;
  left: 45%;
}
svg.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 1;
  stroke-dasharray: 1000; /* 線の長さ（後でJSで正確に設定） */
  stroke-dashoffset: 1000;
  animation: draw 3s ease-in-out forwards;
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
body {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
  user-select: none;
}
body a {
  text-decoration: none;
}
body a:visited {
  color: inherit;
}
#cursor-circle {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000080;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #5a7a9a;
  z-index: 1000;
}
.header #menu-open-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.header #menu-open-btn:hover ._moon {
  margin: 3px 0 0 10px;
  width: 22px;
  height: 22px;
  box-shadow: -6px 1px 0 5px #eff0f0;
}
.header ._moon {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 0 1px #eff0f0;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #5a7a9a;
}
.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-page .page-links {
  width: 94%;
  background-color: #eff0f0;
  margin: 0 3% 0 3%;
  border-radius: 20px;
  border: 3px solid #000;
}
.main-page .page-links ._common {
  padding: 30px 50px 30px 50px;
}
.main-page .page-links ._common ._about-me {
  display: flex;
  margin-bottom: 30px;
}
.main-page .page-links ._common ._about-me a {
  width: 100%;
}
.main-page .page-links ._common ._about-me a img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
  border: 2px solid #000;
}
.main-page .page-links ._common ._etc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-page .page-links ._common ._etc a {
  width: 30%;
  aspect-ratio: 1/1;
}
.main-page .page-links ._common ._etc a img {
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
  border: 2px solid #000;
}
.main-page .page-links ._special,
.main-page .page-links ._game {
  height: 100px;
  background-color: #5a7a9a;
  margin: 20px 0 20px 0;
  padding: 30px 50px 30px 50px;
  color: #eff0f0;
}
.main-page {
  background-color: #cadaee;
  color: #323c48;
  padding-bottom: 20px;
}
.main-page button {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 600px;
  font-style: normal;
  font-size: 22px;
}
.main-page .top {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-top: 50px;
  padding-top: 150px;
  font-size: 35px;
}
.main-page .welcome {
  width: 100%;
}
.main-page .welcome h2 {
  width: 92%;
  border-bottom: 2px solid #151c4b;
  margin-left: 4%;
}
.main-page .welcome ._X-share-with-tag {
  width: 120px;
  height: 60px;
}
.main-page .welcome ._sns_links {
  width: 81%;
  margin: 20px 0 20px 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5%;
}
.main-page .welcome ._sns_links a {
  width: 20%;
  aspect-ratio: 1/1;
  padding: 0;
  display: inline-flex;
  background-color: #5a7a9a;
  border: 1px solid #000;
}
.main-page .welcome ._sns_links a img {
  margin: 5% 5%;
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.main-page .welcome ._sns_links a span {
  width: 100%;
  text-align: center;
  margin-top: 50%;
  transform: translate(0, -50%);
  font-size: clamp(12px, 5vw, 38px);
  font-weight: 500;
  color: #eff0f0;
}
.main-page ._schedule {
  width: 90%;
  margin: 20px 5% 0 5%;
  background-color: #eff0f0;
  border: 2px solid #000;
  border-radius: 10px;
}
.main-page ._schedule ._top-frame {
  width: 80%;
  margin: 10px 10% 0 10%;
  border-bottom: 2px solid #151c4b;
}
.main-page ._schedule ._top-frame ._title {
  font-size: clamp(24px, 5vw, 35px);
}
.main-page ._schedule ._top-frame ._term {
  font-size: clamp(13px, 3vw, 22px);
}
.main-page ._schedule ._contents {
  width: 90%;
  margin: 10px 5% 0 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.main-page ._schedule ._contents ._day-of-the-week {
  display: flex;
  height: 48px;
  border: 2px solid #151c4b;
  border-radius: 25px;
  margin-top: 10px;
}
.main-page ._schedule ._contents ._day-of-the-week ._title {
  width: 50px;
  height: 50px;
  margin: -1px 0 0 -2px;
  background-color: #151c4b;
  color: #eff0f0;
  font-weight: 600;
  font-size: 29px;
  border-radius: 50%;
}
.main-page ._schedule ._contents ._day-of-the-week ._detail {
  margin: 0 10px 0 7px;
  text-align: left;
  align-content: center;
}
.main-page ._schedule ._contents ._day-of-the-week ._detail img {
  width: 12px;
  vertical-align: -2px;
}
.main-page ._schedule ._notes {
  font-size: clamp(12px, 3vw, 16px);
  margin-right: 15px;
  text-align: right;
}
